.body {
    -fx-font-family: Arial Bold;
    -fx-background-color: #ffffff;
}

.main-content {
    -fx-padding: 40 36 40 36;
    -fx-border-width: 8 0 0 0;
    -fx-border-color: #028255;
    -fx-background-color: #ffffff;
}

.header-box {
    -fx-border-width: 0 0 1 0; 
    -fx-border-color: #D2D7DC; 
    -fx-padding: 0 0 5 0;
}

.header-label {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.header2-label {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.form-group {
    -fx-padding: 0 0 10 0;
}

.form-label {
    -fx-font-weight: bold;
    -fx-padding: 0 0 5 0;
}

.form-control {
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-color: #BDC6CA;
    -fx-min-height: 40;
    -fx-pref-height: 40;
}

.text-label {
    -fx-line-spacing: 3;
    -fx-font-weight: normal;
}

.text-muted {
    -fx-font-size: 12;
    -fx-text-fill: #94a2a8;
    -fx-padding: 2 0 0 0;
}

.text-error {
    -fx-font-size: 12;
    -fx-text-fill: #D9333A;
    -fx-padding: 3 0 0 0;
}

.result-group {
    -fx-padding: 0 0 28 0;
}

.text-result {
    -fx-font-size: 25;
    -fx-text-fill: #0D61B6;
    -fx-padding: 2 0 2 0;
}